* {
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 255, 248);
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px;
}

.container .footer {
    margin-top: 100vh;
    outline: 1px solid red;
}

.container .header {
    margin: 0px;
}