* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 165, 198);
    margin: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px
}

.style-container {
    background-color: whitesmoke;
    border: 2px solid transparent;
    border-radius: 5px;
}

.container .footer {
    column-gap: normal;
    text-align: center;
}

.container .title-bar {
    margin: 0px;
    text-align: center;
}

.container .side-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10vw;
    height: 100vh;
}

.blog-content {
    margin: 10px 0px 10px 10px;
    width: 100%;
    text-align: start;
    padding: 2% 10% 0% 10%;
}

.holder {
    display: flex;
}